/* body {
    background-color: beige;
    border: 2px solid green;
}

.container {
    border: 2px solid blueviolet;
}

.countryCard {
    border: 2px solid blue;
} */



* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .container {
     display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.countryCard {
    display: flex;
    background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border: 2px solid red;
} */

/* .countryCard { 
    display: flex;
    justify-content: center;
    gap: 40px;
   
}    */