* {
  box-sizing: border-box;
}


/* Light mode (default) */
body {
  font-family: Nunito Sans;
  font-weight: 300, 600, 800 ;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  margin: 20px;
}

/* Dark mode */
body.dark-mode {
  background-color: #121212;
  color: white;
}




/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.dark-mode .card {
  background-color: #444;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card img {
  width: 100%;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}